# EDA - Database 1

We will conduct an exploratory analysis by doing the following:

- **Understanding the structure of the dataset**: We aim to comprehend how the data is organized and what information it contains. This involves examining the different variables in the dataset and their types.
<br>

- **Identifying missing, duplicated or erroneous data**: We will search for any data that is incomplete or contains mistakes.
<br>

## Import libraries

In [1]:
import pandas as pd
import os
from getpass import getpass
import pymysql
import sqlalchemy as alch

## Read the database

In [2]:
df = pd.read_csv('data/nutrition_activity_obesity.csv')

## Explore the database

In [3]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15

In [4]:
df.Class.unique()

array(['Physical Activity', 'Obesity / Weight Status',
       'Fruits and Vegetables'], dtype=object)

In [8]:
df.YearStart.value_counts()

YearStart
2017    13860
2019    13365
2015    10584
2013    10248
2011    10192
2021     7700
2016     4620
2018     4620
2020     4536
2014     4536
2012     4368
Name: count, dtype: int64

In [9]:
df.shape

(88629, 33)

In [10]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [11]:
df.dtypes

YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Data_Value_Unit               float64
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit          float64
High_Confidence_Limit         float64
Sample_Size                   float64
Total                          object
Age(years)                     object
Education                      object
Gender                         object
Income                         object
Race/Ethnicity                 object
GeoLocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
DataValueTypeID                object
LocationID                      int64
StratificationCategory1        object
Stratification1                object
StratificationCategoryId1      object
StratificationID1              object
dtype: object

In [12]:
# Print questions and its ID for the Class: 'Physical Activity'
for question, group in df.groupby('Question'):
    if 'Physical Activity' in group['Class'].values:
        print(question)
        print(group['QuestionID'].unique())
        print()

Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)
['Q043']

Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week
['Q044']

Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)
['Q045']

Percent of adults who engage in muscle-strengthening activities on 2 or more days a week
['Q046']

Percent of adults who engage in no leisure-time physical activity
['Q047']

In [13]:
# Print questions and its ID for the Class: 'Obesity / Weight Status'
for question, group in df.groupby('Question'):
    if 'Obesity / Weight Status' in group['Class'].values:
        print(question)
        print(group['QuestionID'].unique())
        print()

Percent of adults aged 18 years and older who have an overweight classification
['Q037']

Percent of adults aged 18 years and older who have obesity
['Q036']

In [14]:
# Print questions and its ID for the Class: 'Fruits and Vegetables'
for question, group in df.groupby('Question'):
    if 'Fruits and Vegetables' in group['Class'].values:
        print(question)
        print(group['QuestionID'].unique())
        print()

Percent of adults who report consuming fruit less than one time daily
['Q018']

Percent of adults who report consuming vegetables less than one time daily
['Q019']

### Column cleaning

In [15]:
df.columns = df.columns.str.strip()

In [16]:
# Count null values for each column
df.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               88629
Data_Value_Type                   0
Data_Value                     8778
Data_Value_Alt                 8778
Data_Value_Footnote_Symbol    79851
Data_Value_Footnote           79851
Low_Confidence_Limit           8778
High_Confidence_Limit          8778
Sample_Size                    8778
Total                         85464
Age(years)                    69639
Education                     75969
Gender                        82299
Income                        66474
Race/Ethnicity                63309
GeoLocation                    1652
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           9
Stratification1                   9
StratificationCategoryId1         9
StratificationID1                 9
dtype: int64

In [17]:
# Check for the weight of null values as a percentage of the total values in each column.
# Age, Education, Gender, Income and Race/Ethnicity have more than 70% of null values, therefore these columns cannot be used for the analysis.
round((df.isnull().sum() / df.shape[0]) * 100, 2)

YearStart                       0.00
YearEnd                         0.00
LocationAbbr                    0.00
LocationDesc                    0.00
Datasource                      0.00
Class                           0.00
Topic                           0.00
Question                        0.00
Data_Value_Unit               100.00
Data_Value_Type                 0.00
Data_Value                      9.90
Data_Value_Alt                  9.90
Data_Value_Footnote_Symbol     90.10
Data_Value_Footnote            90.10
Low_Confidence_Limit            9.90
High_Confidence_Limit           9.90
Sample_Size                     9.90
Total                          96.43
Age(years)                     78.57
Education                      85.72
Gender                         92.86
Income                         75.00
Race/Ethnicity                 71.43
GeoLocation                     1.86
ClassID                         0.00
TopicID                         0.00
QuestionID                      0.00
DataValueTypeID                 0.00
LocationID                      0.00
StratificationCategory1         0.01
Stratification1                 0.01
StratificationCategoryId1       0.01
StratificationID1               0.01
dtype: float64

In [18]:
# Delete columns where all values are null
df.dropna(axis=1, how='all', inplace = True)

In [19]:
# Check for the dtaframe shape --> one column was dropped
df.shape

(88629, 32)

In [20]:
# Look for columns that only have one unique value, explore the unique value meaning and drop the columns if those values don't contribute to the analysis.

# Find columns with only one unique value
columns_with_one_unique_value = []
for column in df.columns:
    if df[column].nunique() == 1:
        columns_with_one_unique_value.append(column)

columns_with_one_unique_value

['Datasource',
 'Data_Value_Type',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'Total',
 'DataValueTypeID']

In [21]:
# Drop the columns with only one unique value since they contain null values or meaningless information for our analysis
df.drop(columns_with_one_unique_value, axis=1, inplace = True)

In [22]:
# Check for the dtaframe shape --> six columns were dropped
df.shape

(88629, 26)

In [23]:
# Check if there are duplicated columns
df.columns[df.T.duplicated()]

Index(['YearEnd', 'Data_Value_Alt'], dtype='object')

In [24]:
df.drop(columns = ['YearEnd', 'Data_Value_Alt'], axis=1, inplace = True)

In [25]:
# Check for the dtaframe shape --> two columns were dropped
df.shape

(88629, 24)

In [26]:
df.sample()

,YearStart,LocationAbbr,LocationDesc,Class,Topic,Question,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,...,Race/Ethnicity,GeoLocation,ClassID,TopicID,QuestionID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
67750,2013,DC,District of Columbia,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,57.2,51.8,62.3,748.0,...,NaN,"(38.890371385, -77.031961127)",PA,PA1,Q043,11,Age (years),45 - 54,AGEYR,AGEYR4554

In [ ]:
# Create a column for boolean physical activity
df['Physical_activity'] = 'no'
df.loc[df['QuestionID'].isin(['Q043', 'Q044', 'Q045', 'Q046']), 'Physical_activity'] = 'yes'

In [27]:
# Split coordinates into latitude and longitude columns
df[['latitude', 'longitude']] = df['GeoLocation'].str.strip('()').str.split(', ', expand=True)

### Row cleaning

In [29]:
# Check if there are duplicated rows -> no duplicated rows
df.duplicated().sum()

0

In [30]:
# Check if there rows with only null values -> no rows with only null values
df.isnull().all(axis=1).sum()

0

### Save the data as csv file

In [31]:
df.Class.unique()

array(['Physical Activity', 'Obesity / Weight Status',
       'Fruits and Vegetables'], dtype=object)

In [32]:
# Create dataframe subsets for each class of data
df_activity = df[df['Class'] == 'Physical Activity']
df_obesity = df[df['Class'] == 'Obesity / Weight Status']
df_nutrition = df[df['Class'] == 'Fruits and Vegetables']
df_obesity_states = df_obesity[df_obesity['QuestionID']=='Q036'].groupby(['LocationDesc'])['Data_Value'].mean().sort_values().to_frame().reset_index()

In [43]:
df_activity.columns

Index(['YearStart', 'LocationAbbr', 'LocationDesc', 'Class', 'Topic',
       'Question', 'Data_Value', 'Low_Confidence_Limit',
       'High_Confidence_Limit', 'Sample_Size', 'Age(years)', 'Education',
       'Gender', 'Income', 'Race/Ethnicity', 'GeoLocation', 'ClassID',
       'TopicID', 'QuestionID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1',
       'latitude', 'longitude', 'total_individuals'],
      dtype='object')

In [36]:
# Save the dataframes as csv files
df_activity.to_csv(r'data\data_clean\data_subsets\physical_activity_clean.csv', index=False)
df_obesity.to_csv(r'data\data_clean\data_subsets\obesity_clean.csv', index=False)
df_nutrition.to_csv(r'data\data_clean\data_subsets\nutrition_clean.csv', index=False)
df_obesity_states.to_csv(r'data\data_clean\data_subsets\obesity_states_clean.csv', index=False)

### Import data into SQL

In [29]:
password = getpass("Please input your password: ")

dbName = "physical_obesity_nutrition"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

df_activity.to_sql('physical_activity_table', con=engine, if_exists='replace', index=False)

Please input your password: Â·Â·Â·Â·Â·Â·Â·Â·

46345

In [30]:
password = getpass("Please input your password: ")

dbName = "physical_obesity_nutrition"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

df_obesity.to_sql('obesity_table', con=engine, if_exists='replace', index=False)

Please input your password: Â·Â·Â·Â·Â·Â·Â·Â·

33154

In [31]:
password = getpass("Please input your password: ")

dbName = "physical_obesity_nutrition"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

df_nutrition.to_sql('nutrition_table', con=engine, if_exists='replace', index=False)

Please input your password: Â·Â·Â·Â·Â·Â·Â·Â·

9130

In [32]:
# year, location, question